-- ============================================
-- Migration v2: profiles status, chat, notifications
-- Run after schema.sql in Supabase SQL editor
-- ============================================

create type profile_status as enum ('pending', 'approved', 'rejected');

alter table public.profiles
  add column if not exists status profile_status default 'pending'::profile_status not null;

alter table public.listings
  add column if not exists owner_telegram_id bigint default 0 not null;

-- Community chat room
create table if not exists public.chat_rooms (
  id text primary key,
  name_uk text not null,
  name_ro text not null,
  name_en text not null
);

insert into public.chat_rooms (id, name_uk, name_ro, name_en)
values ('community', 'Чат спільноти', 'Chat comunitate', 'Community chat')
on conflict (id) do nothing;

create table if not exists public.chat_messages (
  id text primary key default 'msg-' || uuid_generate_v4()::text,
  room_id text references public.chat_rooms(id) on delete cascade not null default 'community',
  user_id text references public.profiles(id) on delete cascade not null,
  body text not null default '',
  attachment_url text,
  attachment_type text check (attachment_type in ('image', 'file')),
  attachment_name text,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

create table if not exists public.app_notifications (
  id text primary key default 'ntf-' || uuid_generate_v4()::text,
  user_id text references public.profiles(id) on delete cascade not null,
  type text not null,
  title_uk text not null,
  title_ro text not null,
  title_en text not null,
  body_uk text not null,
  body_ro text not null,
  body_en text not null,
  link text,
  read boolean default false not null,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

alter table public.chat_rooms enable row level security;
alter table public.chat_messages enable row level security;
alter table public.app_notifications enable row level security;

create policy "Public read chat rooms" on public.chat_rooms for select using (true);

create policy "Approved users read chat" on public.chat_messages for select
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid()::text and p.status = 'approved'::profile_status
    )
  );

create policy "Approved users post chat" on public.chat_messages for insert
  with check (
    user_id = auth.uid()::text
    and exists (
      select 1 from public.profiles p
      where p.id = auth.uid()::text and p.status = 'approved'::profile_status
    )
  );

create policy "Users read own notifications" on public.app_notifications for select
  using (user_id = auth.uid()::text);

create policy "Users update own notifications" on public.app_notifications for update
  using (user_id = auth.uid()::text);

create index if not exists idx_chat_messages_room on public.chat_messages(room_id, created_at desc);
create index if not exists idx_notifications_user on public.app_notifications(user_id, read);

-- Storage bucket (create in Supabase Dashboard → Storage → brasov-uploads, public)
